body {
    margin: 0%;
}

html {
    background-color: darkslategray;
    color: white;
}

#position {
    width: 100%;
    height: 100%;
}

.mobileShow {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobileShow {
        display: inline;
    }
}

.mobileHide {
    display: inline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobileHide {
        display: none;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    font-size: 300%;
}